<div class="about">
	<div class="content">
		<div class="aboutHead">
			<div class="titleContent">
				<h1>Software Engineer</h1>
				<p>Hello, welcome on my site! I'm <strong>Jasper Stein</strong>, a Dutch software engineer who is currently working at Blendle. I'm passionated about code and infastructure that is well written, tested, reusable and scalable while always keeping the end user and requirements in mind.</p>
				<p>I have several side projects and other work and interests that can be found on this site.</p>
			</div>
		</div>

		<section class="social">
			<ul>
				<li><a href="https://github.com/jasperste" target="_blank">Github</a></li>
				<li><a href="https://medium.com/@jasperstein" target="_blank">Medium</a></li>
				<li><a href="https://nl.linkedin.com/pub/jasper-stein/63/8a7/59a/" target="_blank">LinkedIn</a></li>
				<li><a href="https://twitter.com/jasperste" target="_blank">Twitter</a></li>
			</ul>

		</section>

		<section class="blog">
			<h3>Highlighted writings</h3>
			<article ng-click="go_external('https://medium.com/@jasperstein/solid-by-examples-9bebf07a9213')">>
				<img src="/img/blog/solid.jpg" alt="Solid by Example" />
				<div class="content">
					<h4>Solid by Example</h4>
					<p>This blog is all about examples for the five SOLID software design principles to make software more understandable, maintainable and reusable.</p>
				</div>
			</article>
			<p class="italic">Find more blogs at <a href="https://medium.com/@jasperstein" target="_blank">medium</a>.</p>
		</section>
		<section class="blog">
			<h3>Highlighted projects</h3>
			<article  ng-click="go_external('https://www.customizelinks.com/')">
				<img src="/img/current/customizelinks-devices-example.png" alt="Customize Links"/>
				<div class="content">
					<h4>Custom Links</h4>
					<p>Since July 2015 I am the co-owner of Custom Links. I am responsible for all the programming work, design work and building solid programs to run on multiple Amazon AWS servers and keeping them running.</p>
				</div>
			</article>
			<article ng-click="go('current/Blendle')">
				<img src="/img/current/blendlevisual.jpg" alt="Blendle"/>
				<div class="content">
					<h4>Blendle</h4>
					<p>I currently work at Blendle as Software Engineer and Tech Lead Platform. Me and my team are responsible for all of the work around Blendle’s backend systems and infrastructure.</p>
				</div>
			</article>
			<p class="italic">Find more at <a href="#current">current projects</a> or <a href="#portfolio">portfolio</a>.</p>
		</section>
		<section>
			<h3>Other</h3>
			<p>
				Besides my passion for programming I am also a fanatic runner. I train for distance between 5 and 42 km. I ran multiple marathons and a lot of half marathons. My most important personal records are listed below:
				<ul>
					<li>- 5 km, 16.37 (KrampRun Varsseveld 2019)</li>
					<li>- 10 km, 34.55 (Singelloop Utrecht 2019)</li>
					<li>- 15 km, 53:26 (Zevenheuvelenloop Nijmegen 2019)</li>
					<li>- 20 km, 1.14.37 (CPC The Hague 2016)</li>
					<li>- 21,1 km, 1.18.21 (CPC The Hague 2016)</li>
					<li>- 30 km, 1.58.21 (Groet uit Schoorl 2017)</li>
					<li>- 42,2 km, 2.52.28 (Rotterdam Marathon 2017)</li>
				</ul>
			</p><p>
				I also like to mix music (being a DJ at several parties), create home automations, cycle, mountainbike, inline-skate or edit video's. Maybe I can mean something for you with these hobbies.
			</p>
		</section>
		<p class="update-info">
			<em>Updated July 2020</em>
		</p>
	</div>
</div>
