<div class="about">
	<div class="aboutHead">
		<div class="left">
			<div class="titleContent">
				<h3>Jasper Stein</h2>
				<h4>A dutch front and back-end developer, Computer Science student and enthousiastic Runner</h4>
			</div>
		</div>
		<div class="right">
			<div class="img"></div>
		</div>
	</div>
	<div class="content">
		<h1>About</h1>
		<strong>About me</strong>
		<p>
			My name is Jasper Stein, I am a dutch front and back-end developer, born in 1993. I have a passion for programming and I’m studying Computer Science at NHL Hogeschool Leeuwarden (Netherlands). I’m interested in front and back-end developement, web technology and mobile (web and native) developement.
		</p><p>
			Besides my passion for programming I am also a fanatic runner. I train for distance between 10 and 42 km. I ran three marathons and a lot more half marathons. My most important personal records are listed below:
			<ul>
				<li>- 10 EM (16.1 km), 1.00.35 (Twiskemolenloop Landsmeer 2014)</li>
				<li>- 20 km, 1.15.35 (Sneek - Bolsward - Sneek 2014)</li>
				<li>- 42,2 km, 3.28 (Amsterdam Marathon 2012)</li>
			</ul>
		</p><p>
			Besides programming and running I also like to mix music (being a DJ) and I know a bit about design.
		</p><p>
			<strong>Education, work and expierences</strong></br>
			<em>September 2011 - Juli 2015 (Present)</em></br>
			Computer Science at NHL Hogeschool Leeuwarden.</br>Learning languages as Java, C#, MySQL, Python, C++, Prolog and subjects as Design Patterns, Object Oriented Programming, Networking, research, Mathematics (algebra, statistics), operating systems, class diagrams (UML), databases and many more.
		</p><p>
			<em>Januari 2014 - June 2014</em></br>
			Internship at Redurban/Etcetera Amsterdam.</br>
			Intern interactive developer with an intern assignment: Building an analytics dashboard based on Facebook, Google, Youtube, Omniture and a few more analytics, all of them combined in one place. A lot of angularJS, HTML, CSS, Javascript, PHP, MySQL passed by.
			I also did several minor projects for ABN Amro, Coolbest and Smiths. Go to portfolio for more details about the dashboard and the other tasks.
		</p><p>
			<em>September 2010 - Juli 2011</em></br>
			Communication and Multimedia Design at NHL Higher education Leeuwarden</br>
			Propaedeutic diploma issued after the first (and only) year (P). Developing skills and expierences among Adobe Photoshop, Illustator, Indesign and After Effects.
		</p><p>
			<em>September 2005 - Juli 2010</em></br>
			Higher General Secundairy Education (in dutch HAVO) at RSG Sneek.
			Followed the dutch N&T profile (natural sciences) with the optional choice Management and Organisation. Subjects as chemistry, physics and a lot of math.
		</p><p>
			<em>2005 - 2014</em></br>
			Several jobs as newspaper delivery, mail delivery (Sandd), package delivery (Selektvracht/DHL) and employee at a takeaway restaurant (Villa-Vila Sneek). Also multiple task as developer, designer and DJ.
		</p><p><em>
			<strong>Associative tags, expierences and tools</strong></br>
			Javascript, AngularJS, Java, C#, C++, PHP, HTML, CSS, Netbeans, Sublime Text, Eclipse, Xcode, Visual Studio, Titanium Studio, Git, Photoshop, Illustrator, Indesign, After Effects, FTP, Wordpress, Fruity Loops
			</em>
		</p>
	</div>
</div>