<div class="about">
	<div class="aboutHead">
		<div class="left">
			<div class="titleContent">
				<h3>Jasper Stein</h2>
				<h4>A dutch front and back-end developer with a bachelor degree in Computer Science (with distinction) and enthousiastic Runner</h4>
			</div>
		</div>
		<div class="right">
			<div class="img"></div>
		</div>
	</div>
	<div class="content">
		<h1>About</h1>
		<strong>About me</strong>
		<p>
			My name is Jasper Stein, I am a dutch front and back-end developer, born in 1993. I have a passion for programming and studied Computer Science at the NHL Hogeschool Leeuwarden (Netherlands). I received my bachelor degree of Engineering (B.E.) in 2015 (with distinction).<br>
			I’m interested in front and back-end developement, web technology and mobile (web, but also native) developement and I'm currently working on several projects which you can find <a href="#current">here</a>.
		</p><p>
			Besides my passion for programming I am also a fanatic runner. I train for distance between 10 and 42 km. I ran three marathons and a lot more half marathons. My most important personal records are listed below:
			<ul>
				<li>- 10 EM (16.1 km), 1.00.35 (Twiskemolenloop Landsmeer 2014)</li>
				<li>- 20 km, 1.15.35 (Sneek - Bolsward - Sneek 2014)</li>
				<li>- 21,1 km, 1.20.14 (CPC The Hague 2015)</li>
				<li>- 42,2 km, 3.28 (Amsterdam Marathon 2012)</li>
			</ul>
		</p><p>
			Besides programming and running I also like to mix music (being a DJ) and I know a bit about design.
		</p><p>
			<strong>Education, work and expierences</strong></br>
			<em>July 2015 - Present</em></br>
			Co-owner of <a href="https://www.customizelinks.com">Custom links</a> and working on several other projects.</br>
			After my study I started my own company together with my brother who attained a master's degree in marketing. We offer a service for companies to create branded short links and provide detailed insights into their link performances. I am responsible for all the programming work, design work and building a solid program on multiple Amazon AWS servers and keeping them running. My daily tasks involved programming in Javascript, PHP, MySQL, Golang (our linkserver), HTML, CSS and working with AWS dockers, ELB, EBS, DynamoDB, Photoshop, Illustrator and many, many more. I also build a Chrome extension. You find our website at the url above. Besides Custom Links I am also working on several other projects, which you can find <a href="#current">here</a>.
		</p><p>
			<em>September 2011 - Juli 2015</em></br>
			Studied Computer Science at NHL Hogeschool Leeuwarden.</br>
			Received my bachelor degree of Engineering (B.E.) (with distinction). Learned languages as Java, C#, MySQL, Python, C++, Prolog and subjects as Design Patterns, Object Oriented Programming, Networking, research, Mathematics (algebra, statistics), operating systems, class diagrams (UML), databases and many more.
		</p><p>
			<em>Januari 2015 - June 2015</em></br>
			Internship at MediaMonks Amsterdam (Hilversum).</br>
			Intern interactive developer with an intern assignment: Building a prototype bugfinder for datacapturing in NodeJS. This prototype has read only access to a preconfigured database and analyzes all database rows, based on all kind of settings. With this prototype MediaMonks would be notified as soon as possible when it discovers potential errors in data capturing. A bug can be repaired by one of MediaMonks it's programmers to keep application consistent and reliable.
			A lot of Javascript (especially NodeJS), Typescript, KnockoutJS, a lot of other JS libraries, SASS (CSS preprocessor) and HTML was involved.
		</p><p>
			<em>Januari 2014 - June 2014</em></br>
			Internship at Redurban/Etcetera Amsterdam.</br>
			Intern interactive developer with an intern assignment: Building an analytics dashboard based on Facebook, Google, Youtube, Omniture and a few more analytics, all of them combined in one place. A lot of angularJS, HTML, CSS, Javascript, PHP, MySQL passed by.
			I also did several minor projects for ABN Amro, Coolbest and Smiths. Go to portfolio for more details about the dashboard and the other tasks.
		</p><p>
			<em>September 2010 - Juli 2011</em></br>
			Communication and Multimedia Design at NHL Higher education Leeuwarden</br>
			Propaedeutic diploma issued after the first (and only) year (P). Developing skills and expierences among Adobe Photoshop, Illustator, Indesign and After Effects.
		</p><p>
			<em>September 2005 - Juli 2010</em></br>
			Higher General Secundairy Education (in dutch HAVO) at RSG Sneek.
			Followed the dutch N&T profile (natural sciences) with the optional choice Management and Organisation. Subjects as chemistry, physics and a lot of math.
		</p><p>
			<em>2005 - 2014</em></br>
			Several jobs as newspaper delivery, mail delivery (Sandd), package delivery (Selektvracht/DHL) and employee at a takeaway restaurant (Villa-Vila Sneek). Also multiple task as developer, designer and DJ.
		</p><p><em>
			<strong>Associative tags, expierences and tools</strong></br>
			Javascript, AngularJS, Java, C#, PHP, Golang, NoSQL, MySQL, C++, HTML(5), CSS(3), Netbeans, Sublime Text, Eclipse, Xcode, Visual Studio, Titanium Studio, Git, Photoshop, Illustrator, Indesign, After Effects, FTP, Wordpress, Fruity Loops, Amazon Services (SES, ELB, EBS and more)
			</em>
		</p>
		<p class="update-info">
			<em>Updated at December 2015</em>
		</p>
	</div>
</div>