<div class="contact">
	<div class="pageHeader">
		If you have a good idea, need a programmer, DJ or have a question about running or something, don't hesitate to leave a message!
	</div>
	<div class="content">
		<form ng-show="!mailDone">
			<input type="text" placeholder="Name" name="name" ng-model="aName" ng-class="{error: firstCheck && !aName}">
			<input type="text" placeholder="Email" name="email" ng-model="email" ng-class="{error: firstCheck && (!email || !validMail())}">
			<input type="text" placeholder="Subject" name="subject" autocomplete="off" ng-model="subject" ng-class="{error: firstCheck && !subject}">
			<textarea placeholder="Message" rows="5" name="message" ng-model="message" ng-class="{error: firstCheck && !message}"></textarea>
			<button type"button" ng-click="sendMail()"><span class="icon-paperplane"></span></button>
		</form>
		<div class="responseMessage">
			{{responseMessage}}
			<div class="messageBox" ng-show="mailDone">
				<h4>{{subject}}</h4>
				<span class="message">
					{{message}}
				</span>
			</div>
		</div>
	</div>
</div>