<Limit GET>
order allow,deny
allow from all
</Limit>

DirectoryIndex index.html

<Files .htaccess>
order allow,deny
deny from all
</Files>

ErrorDocument 404 http://www.jasperstein.nl/#404

#Rewrite everything to https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]